[Unit]
Description=Ussd Service
After=network.target

[Service]
Type=simple
User=root
Restart=on-failure
RestartSec=5s
WorkingDirectory=/apps/ussd
ExecStart=/apps/ussd/ussd

[Install]
WantedBy=multi-user.target